/*new-tweet.css*/
 .new-tweet {
  width: 90%;
  background-color: #eee;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 10px;
}
 .new-tweet h2 {
  text-align: left;
  width: 100%;
  border-bottom: 1px solid black;
}
 .new-tweet textarea {
  width: 100%;
  border: none;
  background: transparent;
  border-bottom: black solid;
}
.new-tweet label{
	display: none;
}
.new-tweet article{
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: center
}
 .new-tweet .new-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
 .new-tweet .new-footer .counter {
  order: 3;
  font-style: italic;
  padding-top: 3px;
  padding-right: 10px;
}
 .new-tweet .new-footer input {
  order: 1;
  margin-bottom: 10px;
  border-radius: 5px;
}
 .new-tweet .new-footer #msg-display {
  padding-top: 3px;
  order: 2;
  flex-grow: 3;
}
.myButton {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.myButton:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}
.myButton:active {
	position:relative;
	top:1px;
}
article{
	border: solid black 5px;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 20px;
}
article>*{
	width: 100%;
}
article header{
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;

}
article header div:nth-child(1){
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}
article hr{
	width: 100%;
	border: solid;
}
article footer{
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
}
article footer ul{
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
    list-style-type: none;
}
article footer ul li{
	margin: 5px;
}

.hide {
  display: none;
  opacity: 0;
  color: gray;
}

article:hover .hide {
  display: block;
  opacity: .5;
}
article:hover{
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.userprofil-img{
	width: 50px;
    height: auto;
    margin: 10px;

}

